<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>AngularJS perfomance tuning</title>
		<link rel="stylesheet" href="bower_components/reveal.js/css/reveal.css" />
		<link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css" />
		<link rel="stylesheet" href="theme.css" />

	</head>
	<body class="si-background">
		<div class="reveal">
			<div class="slides">

				<section class="si-slide">

					<header>
						<h2>Angular 1.3 – Superluminal-nudge</h2>
						<h2>||</h2>
						<h2>The best Angular yet!</h2>
					</header>
					<img src="images/ngeurope.png" style="height: 250px" />

					<footer>
						<a href="https://twitter.com/sfroestl">Sebastian Fröstl</a> &&
						<a href="https://twitter.com/damienklinnert">Kolja Lange</a></footer>
				</section>

				<!-- <section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						We <span style="color:red">&lt;3</span> angular.js
					</p>
				</section> -->

<!-- Introduction -->

				<section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						Huge performance improvements!
					</p>

				</section>

				<section class="si-slide">
					<img src="/images/ng13-perf.png" alt="">
					<footer><a href="https://drive.google.com/file/d/0Bw6GBXhPGkUGcEVuQlFMQklnUTA/view">Visit source</a></footer>
				</section>

				<section class="si-slide">
					<h2>Benchmarking tool Benchpress</h2>
					<h2>github.com/angular/benchpress</h2>
				</section>

<!-- ONE TIME BINDING START -->
				<section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						One time bindings
					</p>
				</section>

				<section class="si-slide">

					<div class="cols">
						<div class="col-left">
							<div class="si-example">
								<div ng-example="oneWayBindingExample" ng-init="name = 'Berlin'">
									<h3>Hello {{::name}}</h3>
									<h3>Hello {{name}}</h3>
									<input ng-model="name" />
								</div>
							</div>
						</div>
						<div class="col-right">
							<pre><code class="xml" data-trim>
<div ng-init="name='Berlin'">
  <p>Hello {{::name}}</p>
  <p>Hello {{name}}</p>
  <input ng-model="name">
</div>
							</code></pre>
						</div>
					</div>
				</section>

				<section class="si-slide">

					<h2>Why?</h2>
					<ul>
						<li>Data-binding is powerful, but Angular needs to watch each expression for changes</li>
						<li>Some bindings are just one-time reads</li>
						<li>More watchers slow down the digest loop (where angular resolves changes)</li>
						<li>Existing solutions: bindonce </li>
					</ul>

				</section>

				<section class="si-slide">
					<h2>Facts</h2>
					<ol>
						<li>Evaluates the expression within the digest loop and stores the value</li>
						<li>If the value is defined, mark as stable and deregister watcher</li>
						<li>Continue the digest loop</li>

					</ol>
				</section>

				<section class="si-slide">
					<h2>Used within any Angular expression</h2>
					<pre><code data-trim class="html">
<ul><li ng-repeat="friend in ::friends">{{friend}}</li></ul>

<p data-tooltip="{{::getTooltip()}}"></p>
					</code></pre>

				</section>

<!-- ONE TIME BINDING END -->

<!-- NG model options -->

				<section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						ngModel options
					</p>
				</section>

				<section class="si-slide">

					<h2>debounce: {'default': 1000}</h2>
					<div class="cols">
						<div class="col-left">
							<div class="si-example">
								<div ng-example="ngModelOptionsExample">
									<h3>Search: {{query}}</h3>
									<input type="text" ng-model="query" ng-model-options="{debounce: {'default': 1000}}">
								</div>
							</div>
						</div>
						<div class="col-right">
							<pre><code class="xml" data-trim>
<h3>Search: {{query}}</h3>
<input ng-model="query" ng-model-options="{debounce: {'default': 1000}}">
							</code></pre>
						</div>
					</div>
				</section>

				<section class="si-slide">

					<h2>updateOn: 'blur'</h2>
					<div class="cols">
						<div class="col-left">
							<div class="si-example">
								<div ng-example="ngModelOptionsExample">
									<h3>Name: {{name}}</h3>
									<input type="text" ng-model="name" ng-model-options="{updateOn: 'blur'}">
								</div>
							</div>
						</div>
						<div class="col-right">
							<pre><code class="xml" data-trim>
<h3>Name: {{name}}</h3>
<input ng-model="name" ng-model-options="{updateOn: 'blur'}">
							</code></pre>
						</div>
					</div>
				</section>

				<section class="si-slide">
					<h2>Facts</h2>
					<ul>
						<li>Tune how your model updates</li>
						<li>Specify custom events like focus, blur or default</li>
						<li>Debounce update</li>
					</ul>
				</section>



<!-- NG model options END-->

<!-- NG-model $validators START -->

				<section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						ngModel $validators
					</p>
				</section>

				<section class="si-slide">
					<h2>$asyncValidators</h2>
					<div class="cols">
						<div class="col-left" ng-example="ngValidatorsExample">

							<form name="form">
								<p>
								    <input type="text"
								    	   ng-minlength="5"
								    	   ng-maxlength="20"
								           name="usernameInput"
								           ng-model="myUsername"
								           placeholder="Username"
								           required
								           available/>
					            </p>
							    <span ng-messages="form.usernameInput.$error" style="color:maroon">
							      	<p ng-message="minlength">Your field is too short</p>
							    	<p ng-message="maxlength">Your field is too long</p>
							    </span>
							    <p ng-if="form.usernameInput.$pending" style="color:maroon">
							    	Checking Server…
							    </p>
							</form>
					    </div>
						<div class="col-right">
							<pre><code class="js" data-trim style="font-size: 1.6em">
.directive('available', function ($timeout) {
    return {
        require: 'ngModel',
        link: function ($scope, element, attrs, ngModel) {
            ngModel.$asyncValidators.available =
            function (username) {
                return $timeout(function () {
                    return true;
                }, 1000, false);
            };
        }
    };
});
							</code></pre>
						</div>
			    	</div>
				</section>

				<section class="si-slide">
					<h2>Facts</h2>
					<ul>
						<li>Write custom, reusable validators</li>
						<li>Use $asyncValidators for server-side validation</li>
						<li>Great in combination with ngModel options</li>
					</ul>
				</section>

<!-- NG-model $validators END -->

<!-- NG-MESSAGE START -->

				<section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						ng-messages
					</p>
				</section>

				<section class="si-slide">
					<h2>ngMessages</h2>
					<div class="cols">
						<div class="col-left" ng-example="ngMessageExample">

							<form name="form">
							<p>
							    <input type="text"
							    	   ng-minlength="5"
							    	   ng-maxlength="20"
							           ng-pattern="/^\S+$/"
							           name="usernameInput"
							           ng-model="myUsername"
							           placeholder="Username"
							           required />

				           	</p>
							    <span ng-messages="form.usernameInput.$error" style="color:maroon">
							      	<p ng-message="minlength">Your field is too short</p>
							    	<p ng-message="maxlength">Your field is too long</p>
							    	<p ng-message="pattern">No whitespace allowed</p>
							    </span>
							<p>
							    <input type="email"
							           name="emailInput"
							           ng-model="myEmail"
							           placeholder="Email"
							           required />
				           	</p>
							    <span ng-messages="form.emailInput.$error" style="color:maroon">
									<p ng-message="email">This email format is invalid!</p>
							    </span>
							</form>
					    </div>
					    <div class="col-right">
					    <pre><code class="xml" data-trim style="font-size:2em">
<span ng-messages="form.usernameInput.$error">
	<p ng-message="minlength">…</p>
	<p ng-message="maxlength">…</p>
	<p ng-message="pattern">…</p>
</span>
						</code></pre>
					    </div>
				    </div>
				</section>

<!-- NG-MESSAGE END -->

<!-- NG ARIA START -->

				<section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						ng-aria
					</p>
				</section>

				<section class="si-slide">
					<h2>Accessible Rich Internet Applications</h2>
				</section>

				<section class="si-slide">
					<h2>ngAria</h2>
					<div class="cols">
						<div class="col-left" ng-example="ngAriaExample">
				    		<h3><label>Username: </label></h3>
						    <input type="text"
							    	   ng-minlength="5"
							    	   ng-maxlength="20"
							           name="username"
							           placeholder="type your username"
							           ng-model="myUsername"
							           ng-required="true" />
						</div>
						<div class="col-right" >
							<pre><code class="xml" data-trim>
<input type="text" class="…"  ng-model="myUsername"  ng-minlength="5" ng-maxlength="20" ng-required="true"tabindex="0" aria-required="true" aria-invalid="true" required="required">
							</code></pre>

						</div>
					</div>

				</section>

				<section class="si-slide">
					<h2>Facts</h2>
					<ul>
						<li>Module to help with ARIA support</li>
						<li>Inspects you app and appends ARIA attributes</li>
						<li>Works with build in directives like ngModel, ngDisabled, ngShow/Hide, ngClick</li>
					</ul>
				</section>

<!-- NG ARIA END -->

<!-- NG-ANIMATE START -->

				<section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						ng-animate
					</p>
				</section>

				<section class="si-slide">
					<ul>
						<li>Much more stable</li>
						<li>New .animate() method</li>
						<li>Promises in JavaScript animations</li>
					</ul>
				</section>

				<section class="si-slide">
					<h2>$animate.animate()</h2>

					<div class="cols">
						<div class="col-left">
							<div class="si-example">
								<div ng-example="ngAnimateExample">
									<div animate-to-click>
										<div class="click-indicator">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-right">
							<pre><code class="js" data-trim style="font-size: 2em">
element.on('click', function (e) {

    $animate.animate(angular.element(indicator), {}, {
        left: e.offsetX + 'px',
        top: e.offsetY + 'px'
    }, 'is-animating');

    $scope.$digest();
});
							</code></pre>
						</div>
					</div>
				</section>

<!-- NG-ANIMATE END -->

<!-- ANGULAR 2 START -->

				<section class="si-slide" data-background="#000">
					<p class="si-giant white-headline">
						Quick look at Angular 2
					</p>
				</section>

				<section class="si-slide">
					<ul>
						<li>Still in early state!</li>
						<li class="fragment">Written in AtScript = ES6 + Dynamic types + Annotations</li>
						<li class="fragment">Fokus on mobile devices</li>
						<li class="fragment">Keeps powerful features like Dependency Injection, testability</li>
						<li class="fragment">New stuff like persistence layer, new router, components</li>
					</ul>
				</section>

				<section class="si-slide">
					<h2>Should I wait for Angular 2.0?</h2>
				</section>
				<section class="si-slide">
					<h2>No.</h2>
				</section>
				<section class="si-slide">
					<h2>… But</h2>
					<ul>
						<li>Stay tuned for changes</li>
						<li>Write good Angular apps (use style-guides, patterns)</li>
						<li>There will be a migration guide!</li>
					</ul>
				</section>

<!-- ANGULAR 2 END -->

<!-- References -->
				<section class="si-slide">
					<h2>References</h2>
					<ul>
						<li><a href="http://www.youtube.com/channel/UCEGUP3TJJfMsEM_1y8iviSQ">ng-europe youtube channel</a></li>
						<li><a href="https://docs.google.com/document/d/11YUzC-1d0V1-Q3V0fQ7KSit97HnZoKVygDxpWzEYW0U/edit">At Script Sepc</a></li>
						<li><a href="https://docs.angularjs.org/guide/accessibility">ng aria guide</a></li>
						<li><a href="http://mcgivery.com/angular-1-3-0-improved-accessibility-with-ngaria/">ngAria how to</a></li>
						<li><a href="http://angularjs.blogspot.de/2014/03/angular-20.html">Angular 2 blogpost</a></li>
						<li><a href="http://ng-learn.org/2014/03/AngularJS-2-Status-Preview/">Angular 2 status preview</a></li>
					</ul>
				</section>


			</div>
		</div>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-messages/angular-messages.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/reveal.js/js/reveal.js"></script>
		<script src="bower_components/reveal.js/lib/js/head.min.js"></script>
		<script src="examples.js"></script>
		<script>
			Reveal.initialize({
				width: 1920,
				height: 1200,
				history: true,
				transition: 'linear',
				dependencies: [
					{
						src: './bower_components/reveal.js/plugin/highlight/highlight.js',
						async: true,
						callback: function() {
							hljs.initHighlightingOnLoad();
						}
					}
				]
			});
		</script>
	</body>
</html>